SC_DOMAIN = "https://streamingunity.bio"
SW_DOMAIN = "https://www.streamingwatch.org"
CB_DOMAIN = "https://cb01net.download" #"https://cb01.uno"
GHD_DOMAIN = "https://guardahd.stream" #'https://mostraguarda.stream'
TF_DOMAIN = "https://tantifilm.kaufen"
AU_DOMAIN = "https://www.animeunity.so"
AW_DOMAIN = "https://www.animeworld.ac"

TMDB_API_KEY=""

USE_PROXY=false
PROXY_API_URL="https://free.redscrape.com/api/proxies?protocol=http&max_timeout=1500&format=json"